/* body {
    margin: auto;
    background-color: #333; 
    font-family: 'animeFont';
    
   
    background: 
        url('../images/backgroundGraffiti.PNG'),
        #333; 
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'animeFont';
    
    background-image: url('../images/backgroundGraffiti.PNG');
    background-repeat: repeat;
    background-position: 0px -1050px;
    background-size: 1400px;
    background-attachment: fixed; 
    

    min-height: 100vh;
}

@font-face {
    font-family: 'sharpFont';
    src: url('../Crimes Times Six.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'animeFont';
    src: url('../animeace_b.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --accent_orange: orange;
    --accent_turquiose: rgb(83, 232, 243);
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 15px; 
    color: var(--accent_orange);
     font-size: clamp(16px, 1.5vw, 28px);

    position: relative; 
    font-family: "sharpFont", sans-serif; 


}

nav a{
    color: var(--accent_orange);
    padding: 3px;
    text-decoration: none;
    margin-right: 3px;
    position: relative; 
    display: inline-block; 
    transition: 0.3s;

}

.myName{
    /* font-family: "sharpFont", sans-serif;  */

}

.myName:hover{
    background-color: var(--accent_turquiose);
    border-radius: 3px;
    color: black;
    padding: 3px 6px; 
}

.nav-links {
    display: flex; 
    gap: 20px; 
}

.nav-links a {
    position: relative; 
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 1px;
    left: 0;
    background-color: var(--accent_turquiose);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
    transform: translateY(-1px);
}
.nav-links a:hover{
    transform: translateY(-2px);
    color: var(--accent_turquiose);
}

.logo{
     align-items: center;
    display: flex;

}

#logoImage:hover{
    /* cursor:none; */
}



.homeHero {
    background: url(../images/azuFalling.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 280vh;

}

footer{
    display:flex;
    justify-content: center;
    background-color: black;
    color: var(--accent_orange);
    padding:20px;
    font-family: 'sharpFont';
    font-size:2.6vh;
}


body::selection{
    background-color:aquamarine;
    color:black;
}



.title{
    text-align:center;
}
.title p{
    display: inline-block;
    border-radius: 10px;
    color:var(--accent_turquiose);
    background-color: #33333396;
    font-family: 'sharpFont';
    font-size: 6vh;
}
